<h1>Listing test_scaffolds</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_scaffolds.each do |test_scaffold| %>
      <tr>
        <td><%= link_to 'Show', test_scaffold %></td>
        <td><%= link_to 'Edit', edit_test_scaffold_path(test_scaffold) %></td>
        <td><%= link_to 'Destroy', test_scaffold, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test scaffold', new_test_scaffold_path %>
